@tailwind components;
@tailwind utilities;

@import "./preflight";

:root{
  --main-color:#ca8a04;
  --text:#115e59;
}

.logo{
  margin-left: 28px;
}

.logonav{
  margin-top:-10px;
}

.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 1px;
}

.navbar a{
  font-family: sans-serif;
  font-weight: 300;
  padding-left: 28px;
  font-size: 14px;
  color: var(--text);
  float: center;
  margin-left: 2px;
}

.navbar a:hover{
  color:var(--main-color);
  padding-bottom: .5rem;
}
