@tailwind components;
@tailwind utilities;

@import "./preflight";

:root{
  --main-color:#ca8a04;
  --text:#006563;
}

.iklan{
  margin-left: 400px;
  margin-top: -15px;
}

.searchbar{
  margin-left: 1030px;
  margin-top: -59px;
}

.navlogo{
  margin-left: 90px;
}

.logonav{
  margin-top:-10px;
}

.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 24px;
}

.navbar a{
  font-family: 'Montserrat', sans-serif;
  padding: 39px 28px;
  font-size: 14px;
  color: #006563;
  float: center;
  margin-left: 2px;
  letter-spacing: 1px;
}

.navbar a:hover{
  color:var(--main-color);
  letter-spacing: 1px;
}

.navbar1{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 24px;
}

.navbar1 a{
  font-family: 'Montserrat', sans-serif;
  padding: 39px 28px;
  font-size: 14px;
  color: #FFFFFF;
  float: center;
  margin-left: 2px;
  letter-spacing: 1px;
}

.navbar1 a:hover{
  color:var(--main-color);
  letter-spacing: 1px;
}

.footer{
  font-family: 'Myriad Pro Regular';
    font-size: 11px;
    margin-bottom: 0;
    color: #7DBCB8;
    display: block;
    margin-left: 120px;
    margin-right: 445px;
    margin-top: 20px;
}

.kotak{
  margin: 50px 70px;
  display: inline-block;
  padding: 6px;
  border: 2px;
}

.fon{
  font-weight: 10;
  color:#bcbcbc;
  font-size: 45px;
}

@media (max-width: 768px){
  .navbar2{
    position: -webkit-sticky;
    position: sticky;
  } 
}